.anima {
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }
  body{
      background: black;
      color: brown;
  }

  .enlace-toggle a{
      color: aliceblue;
  }

  
  .navbar{
      position: absolute;
      z-index: 1;
  }

  #slider{
      background: url("../img/parking.jpg");
      background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 80vh;
  }


  .card{
      background: transparent;
  }

  

  @media (max-width: 678px){
    #slider{
        width: auto;
        height: 60vh;
    }
    #slider .flecha{
        margin: 0;
    }
    #burger{
        display: none;
    }
    #return{
        display: none;
    }
}

